*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #D9C3ED;
}



/*------------------------------------

Nav Bar

--------------------------------------*/

.logo { 
    margin: 0;
    padding: 0 5% 0 0;
    border: 0;
} 

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0 1% 0;
}

header nav li {
    display: inline-block;
    margin: 2% auto;
}

header nav a{
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    padding: 0 100px 0 20px;
    text-decoration: overline;
    text-shadow: 1px 1px 2px grey, 0 0 1em black, 0 0 0.2em black;
    
}

header nav a:hover{
    color: #29ABE2;
}

/*------------------------------------

INDEX
--------------------------------------*/
h1{
    font-family: 'Permanent Marker', cursive; ;
    color: #FCEE22;
    margin: 25px 0;
    text-align: center;
    font-size: 2.500rem;
    text-shadow: 1px 1px 2px grey, 0 0 1em black, 0 0 0.2em black;
}

h2{
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 1.400rem;
    margin: 0 0 15px 0;
    text-align: center;
    text-shadow: 1px 1px 2px grey, 0 0 1em black, 0 0 0.2em black;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
}

img {
    display: block;
    margin: auto;
}

.homepic {
    width: 28%;
    margin: 0 auto;
    display: flex;
}
  
.grid-item {
    text-align: left;
    padding: 10px;
    font-size: 30px;
}
  
.aside {
grid-column: 1;
grid-row: 1;
font-family: 'Roboto', sans-serif ;
font-weight: bold;
font-size: 1.125rem;
}

#jennifer-post img,
.main img {
    padding: 15px 0 25px 0;
}

/* cast page style   */

.flexcontainer {
    display: flex;
}

.cast {
    width: 15%;
    padding: 1rem;
}

.cast img {
    width: 100%;
}

.cast h2 {
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    text-align: left;
}
.cast p {
    width: 100%;
    text-align: left;
    padding: 1rem 0 0;
    color: white;
    font-size: 1.5rem;
}
    

/*------------------------------------
MEDIA QUERIES
--------------------------------------*/
@media all and (min-width: 760px) {
    .home-container {
        display: grid;
        padding: 15px;
        grid-gap: 25px;
        grid-template-columns: 1fr 2fr;
    }
    
      .home-container img {
          padding: 0 0 15px 0;
      }

    .main img {
        padding: 0 25px 15px 0;
    }

    #reunion-post img {
        float: left;
    }

    #jennifer-post img {
        padding: 0;
    }

    h2 {
        text-align: left;
    }
}

@media all and (min-width: 812px) {
    .home-container {
        padding: 15px 25px;
    }
}