*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #D9C3ED;
}



/*------------------------------------

Nav Bar

--------------------------------------*/

.logo { 
    margin: 0;
    padding: 0 25px;
    border: 0;
} 

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 25px 0;
}

header nav li {
    display: inline-block;
    margin: 2% auto;
}

header nav a{
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    padding: 0 110px 0 20px;
    text-decoration: overline;
    text-shadow: 1px 1px 2px grey, 0 0 1em black, 0 0 0.2em black;
    
}

header nav a:hover{
    color: #29ABE2;
}

/*------------------------------------

INDEX
--------------------------------------*/
h1{
    font-family: 'Permanent Marker', cursive; ;
    color: #FCEE22;
    margin: 25px 0;
    text-align: center;
    font-size: 2.500rem;
    text-shadow: 1px 1px 2px grey, 0 0 1em black, 0 0 0.2em black;
}

h2{
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 1.400rem;
    margin: 0 0 15px 0;
    text-shadow: 1px 1px 2px grey, 0 0 1em black, 0 0 0.2em black;
}

#home h2 {
    text-align: center;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
}

img {
    display: block;
    margin: auto;
}

.homepic {
    width: 28%;
    margin: 0 auto;
    display: flex;
}
  
.grid-item {
    text-align: left;
    padding: 10px;
    font-size: 30px;
}
  
.aside {
grid-column: 1;
grid-row: 1;
font-family: 'Roboto', sans-serif ;
font-weight: bold;
font-size: 1.125rem;
}

#jennifer-post img,
.main img {
    padding: 15px 0 25px 0;
}

/* cast page style   */

.flexcontainer {
    display: flex;
}

.cast-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
    padding: 15px 25px;
}

.cast {
    text-align: center;
}

.cast h2 {
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
}
.cast p {
    width: 100%;
    color: white;
    font-size: 1.5rem;
}

/* trivia page style   */
#trivia-intro {
    text-align: center;
}

#trivia-intro h1 {
    margin: 25px 0 15px 0;
}

#trivia h2 {
    text-shadow: none;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 350px;
    perspective: 1000px;
    display: block;
    margin: auto;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: white;
    color: black;
  }
  
  .flip-card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
  }

  .flip-card-front h2,
  .flip-card-back h2 {
    color: red;
    margin: 15px auto 5px;
  }

  .flip-card-front p,
  .flip-card-back p {
    margin: auto 15px;
  }

  #trivia section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    margin: 45px 15px;
  }
    

/*------------------------------------
MEDIA QUERIES
--------------------------------------*/
@media all and (min-width: 660px) {
    header nav a {
        padding: 0 25px 0 20px;
    }

    .logo {
        padding: 0 25px 0 0;
    }

    #trivia section {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (min-width: 760px) {
    .home-container {
        display: grid;
        padding: 15px;
        grid-gap: 25px;
        grid-template-columns: 1fr 2fr;
    }
    
      .home-container img {
          padding: 0 0 15px 0;
      }

    .main img {
        padding: 0 25px 15px 0;
    }

    #reunion-post img {
        float: left;
    }

    #jennifer-post img {
        padding: 0;
    }

    #home h2 {
        text-align: left;
    }

    header {
        padding: 2% 0 1% 0;
    }

    .logo {
        padding: 0 5% 0 0;
    }

    .cast-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (min-width: 812px) {
    .home-container {
        padding: 15px 25px;
    }
}

@media all and (min-width: 900px) {
    header nav a {
        padding: 0 75px 0 20px;
    }

    .cast-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media all and (min-width: 960px) {
    #trivia section {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media all and (min-width: 1285px) {
    #trivia section {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media all and (min-width: 1610px) {
    #trivia section {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}