*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #D9C3ED;
}



/*------------------------------------

Nav Bar

--------------------------------------*/

.logo { 
    margin: 0;
    padding: 0;
    border: 0;
    width: 20%;
    align-content: left;
    display: inline-block;
} 

header {
    text-align: center;
}

header nav li {
    display: inline-block;
    margin: 2% auto;
   
    
}

header nav a{
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    padding: 0 100px 0 20px;
    text-decoration: overline;
    
}

header nav a:visited{


}

header nav a:hover{
    color: #29ABE2;
}

/*------------------------------------

INDEX
--------------------------------------*/
h1{
    font-family: 'Permanent Marker', cursive; ;
    color: #FCEE22;
    text-align: center;
    font-size: 2.500rem;
}

h2{
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-align: center;
    font-size: 1.400rem;
}

p{
    font-family: 'Roboto', sans-serif;
    width: 550px;
    font-size: 1.125rem;
}


.home-container {
    display: grid;
    grid-gap: 5px;
    padding: 5px;
  }
  
  .grid-item {
    text-align: left;
    padding: 10px;
    font-size: 30px;
  }
  
  .aside {
    grid-column: 1;
    grid-row: 1;
    font-family: 'Roboto', sans-serif ;
    font-size: 1.125rem;
	Padding: 10%;
  }
  .main img {
      padding: 0 2%;
  }
  
  .main {
    grid-column: 2;
    grid-row: 1 ;
  }



    

